bohy{
	background-color:slategray;
}
a{
  display:block;
  width:max-content;
}
a:focus{
  font-weight:bold;
}
body{
	display:grid;
	grid-auto-flow:column;
	justify-content:left;
	grid-gap:1em;
}
a{
  border-left:dashed black .1em;
  padding-left:1em;
  margin-left:1em;
}
