bohy{
	background-color:slategray;
}
.link{
  width:max-content;
}
body{
	display:grid;
	grid-auto-flow:column;
	justify-content:left;
	grid-gap:1em;
}
.link{
  border-left:dashed black .1em;
  padding-left:1em;
  margin-left:1em;
}
.link .checkmark{
  display:none;
}
.link.visited a{
  text-decoration:line-through;
}
.link.visited .checkmark{
  display:unset;
}
